@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Pretendard-Regular', 'Pretendard-Bold', sans-serif;
}

/* 애니메이션 키프레임 정의 */
@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

@keyframes move-horizontal {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(25vw, -20px); /* 위로 */
  }
  50% {
    transform: translate(50vw, 0);
  }
  75% {
    transform: translate(75vw, 40px); /* 아래로 */
  }
  100% {
    transform: translate(100vw, 0);
  }
}

.box {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.wave {
  background: #4880ee20;
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 8s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave.-three {
  bottom: -2.5em;
  animation: wave 10s -1s reverse infinite;
  opacity: 0.9;
}

.wave.-two {
  bottom: -1.25em;
  animation: wave 12s linear reverse infinite;
  opacity: 0.8;
}

.surfing {
  position: fixed;
  bottom: 10rem;
  animation: move-horizontal 3s linear infinite;
  z-index: -1;
}
.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(#e8a, 1),
    rgba(#def, 0) 80%,
    rgba(white, 0.5)
  );
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

/* 그라데이션 배경 */
.bg-animated-gradient {
  background: linear-gradient(32deg, #e5e5fd 24%, #edfcfb 58%, #f8f6fc 76%);
  background-size: 200% 200%;
  animation: gradient-move 2s linear infinite;
}

/* 라이트 모드 색상 세팅 */
:root {
  --bgColor: #ffffff;
  --containerColor: #f5f6f8;
  --myBlue: #4880ee;
  --myLightBlue: #e1eaf7;
  --textOnBlue: #f5f6f8;
  --textOnLight: #202632;
  --textColor: #202632;
  --redHeart: #ff465c;
  --iconColor: #bcbec1;
  --innerContainerColor: #e9e9ea;
  --textOpacity50: #20263250;
}

/* 다크 모드 색상 세팅*/
.dark {
  --bgColor: #202632;
  --containerColor: #2b313c;
  --myBlue: #4880ee;
  --myLightBlue: #e1eaf7;
  --textOnBlue: #f5f6f8;
  --textOnLight: #202632;
  --textColor: #f5f6f8;
  --redHeart: #ff465c;
  --iconColor: #636770;
  --innerContainerColor: #4d515b;
  --textOpacity50: #f5f6f850;
}
